---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';
---
<BaseLayout title='markdown'>
<div class='spacer'>
    <h1>Markdown component</h1>
    <p>Content is generated from markdown code</p>
   
   <Markdown>
   ```

---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';
---
<BaseLayout title='markdown'>
<div class='spacer'>
    <h1>Markdown component</h1>
    <p>Content is generated from markdown code</p>
   
  
  </div>

<Markdown>
# Hello from markdown
</Markdown>
</BaseLayout>
      
```
</Markdown>
  </div>

<Markdown>
# Hello from markdown
</Markdown>
</BaseLayout>
      