.spacer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 0 1rem;
}